*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  padding-bottom: 172px;
}
@media (max-width: 768px) {
  body{
    padding-bottom: 217px;
  }
}

@media (max-width:740px) {
  body{
    padding-bottom: 187px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul,
ol {
list-style: none;
padding: 0;
margin: 0;
}

button {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  background-color: transparent;
}

body {
  min-width: 320px;
  min-height: 100Vh;
  font-family: 'SF UI Display', sans-serif;
  font-size: 16px;
  line-height: inherit;
  background-image: url('../img/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img, svg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}