.header{
  padding: 24px 0;

  &__container{
    max-width: 1240px;
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  &__logo{
    margin-right: 94px;
  }
  &__search{
    flex-grow: 1;
    margin-right: auto;
  }

  &__favorite-btn{
    color: #fff;
    line-height: 0;
    transition: color .2s ease-in-out;
    &:hover {
      color: tomato;
    }
  }
}